/* Reset Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  padding: 0;
}
/* Import Font */
@font-face {
  font-family: 'BebasNeue';
  src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype'),
  url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-italic';
  src: url('./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'),
  url('./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
  url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

